body {
    font-family: monospace;
    background-color: rgb(255, 255, 255);
}

Rectangle()
.foregroundColor(.clear)
.frame(width: 1440, height: 519)
.background(Color(red: 0.85, green: 0.85, blue: 0.85))

.overlay(
Rectangle()
.inset(by: 0.5)
.stroke(.black, lineWidth: 1)

)

Rectangle1()
.foregroundColor(.clear)
.frame(width: 1238, height: 555)
.background(Color(red: 0.85, green: 0.85, blue: 0.85))

.overlay(
Rectangle()
.inset(by: 0.5)
.stroke(.black, lineWidth: 1)

)

Rectangle2()
.foregroundColor(.clear)
.frame(width: 525, height: 516.22272)
.background(Color(red: 0.85, green: 0.85, blue: 0.85))

.overlay(
Rectangle()
.inset(by: 0.5)
.stroke(.black, lineWidth: 1)

)

//* .libre-franklin-<uniquifier> {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  
.dm-mono-light {
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: normal;
  }
  
  .dm-mono-regular {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .dm-mono-medium {
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: normal;
  }
  
  .dm-mono-light-italic {
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: italic;
  }
  
  .dm-mono-regular-italic {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .dm-mono-medium-italic {
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: italic;
  }
  