html {
  background-color: rgb(255, 255, 255);
  margin: 30px 50px;
  align-items: center;
}

html, body {
  height: 100%;
  margin: 0;
}

.container {
  max-width: 1000px;   /* or whatever width you want */
  margin: 30px auto;   /* top/bottom: 30px, left/right: auto for centering */
  padding: 20px;       /* optional internal space */
  box-sizing: border-box;
  align-items: center;

}


img {
  max-width: 75%;
  height: auto;
  display: block;
  align-items: center;
}

body {
  margin: 30px 50px;
  text-align: center;
  font-family: monospace;
  background-color: rgb(255, 255, 255);
}

/*body {
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical center */
  /*align-items: center;     /* horizontal center */
  /*min-height: 100vh;
  font-family: monospace;
  background-color: rgb(255, 255, 255);
}
.thumbnailimage {
   max-width: 50%;
}

img {
  max-width: 50%;
  height: auto;
  display: block;
}




//* .libre-franklin-<uniquifier> {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  
.dm-mono-light {
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: normal;
  }
  
  .dm-mono-regular {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .dm-mono-medium {
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: normal;
  }
  
  .dm-mono-light-italic {
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: italic;
  }
  
  .dm-mono-regular-italic {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .dm-mono-medium-italic {
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: italic;
  }
  